@font-face
{
	font-family: "quicksandbold";
	src: url("fonts/quicksand-bold-webfont.eot");
	src: url("fonts/quicksand-bold-webfont.eot?#iefix") format("embedded-opentype"),
		 url("fonts/quicksand-bold-webfont.woff2") format("woff2"),
		 url("fonts/quicksand-bold-webfont.woff") format("woff"),
		 url("fonts/quicksand-bold-webfont.ttf") format("truetype"),
		 url("fonts/quicksand-bold-webfont.svg#quicksandbold") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: "quicksandregular";
	src: url("fonts/quicksand-regular-webfont.eot");
	src: url("fonts/quicksand-regular-webfont.eot?#iefix") format("embedded-opentype"),
		 url("fonts/quicksand-regular-webfont.woff2") format("woff2"),
		 url("fonts/quicksand-regular-webfont.woff") format("woff"),
		 url("fonts/quicksand-regular-webfont.ttf") format("truetype"),
		 url("fonts/quicksand-regular-webfont.svg#quicksandregular") format("svg");
	font-weight: normal;
	font-style: normal;
}