/**
 * Custom reveal.js Theme by Jeremy Wagner <jeremy.l.wagner@gmail.com>
 **/

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(//fonts.googleapis.com/css?family=Quicksand);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #2980B9;

$mainColor: #ecf0f1;
$headingColor: #ecf0f1;

$mainFontSize: 38px;
$mainFont: "Quicksand", sans-serif;
$headingFont: "Quicksand", sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2C3E50;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.25em;
$heading2Size: 1.5em;
$heading3Size: 1.25em;
$heading4Size: 0.75em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

*[nowrap]
{
	white-space: nowrap;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------