/**
 * Custom reveal.js Theme by Jeremy Wagner <jeremy.l.wagner@gmail.com>
 **/

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url("//fonts.googleapis.com/css?family=Quicksand:400,700");

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #2980b9;
$backgroundColor2: #3498db;

$mainColor: #ecf0f1;
$headingColor: #ecf0f1;
$accentColor: #e74c3c;
$accentColor2: #2c3e50;

$mainFontSize: 38px;
$mainFont: "Quicksand", sans-serif;
$headingFont: "Quicksand", sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: lighten($accentColor, 15%);
$linkColorHover: lighten($linkColor, 10%);
$selectionBackgroundColor: lighten($linkColor, 25%);
$heading1Size: 2em;
$heading2Size: 1.5em;
$heading3Size: 1.25em;
$heading4Size: 0.75em;

section.has-light-background
{
	&,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6
	{
		color: $accentColor2;
	}
}

h1,
h2,
h3,
h4,
h5,
h6
{
	font-weight: 400 !important;
}

.noWrap
{
	white-space: nowrap;
}

.normalCase
{
	text-transform: none;
}

code
{
	font-weight: 300;
}

body
{
	@include radial-gradient($accentColor2, $backgroundColor);
}

hr
{
	opacity: 0.5;
}

h1.ribbon
{
	position: relative;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	text-shadow: 0, 1px 0 rgba(0, 0, 0, 0.3);
	background: -webkit-linear-gradient(top, $accentColor, darken($accentColor, 15%));
	clear: both;
	display: inline-block;

	span
	{
		display: block;
		position: relative;
		padding: 0 0.5em;

		&:before,
		&:after
		{
			font-size: 2.05em;
			content: "";
			position: absolute;
			border-style: solid;
			border-color: darken($accentColor, 35%) transparent transparent transparent;
			bottom: -0.125em;
			background-color: white;
			-moz-background-clip: padding-box;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
		}

		&:before
		{
			border-width: 0.125em 0 0 0.125em;
			left: 0.01em;
		}

		&:after
		{
			border-width: 0.125em 0.125em 0 0;
			right: 0.01em;
		}
	}

	&:after,
	&:before
	{
		font-size: $heading1Size;
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		bottom: -0.125em;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
		border: 0.3em solid darken($accentColor, 25%);
	}

	&:after
	{
		right: -0.415em;
		border-left-width: 0.25em;
		border-right-color: transparent;
	}

	&:before
	{
		left: -0.415em;
		border-right-width: 0.25em;
		border-left-color: transparent;
	}
}

h3.ribbon
{
	padding: 0;
	position: relative;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	text-shadow: 0, 1px 0 rgba(0, 0, 0, 0.3);
	background: -webkit-linear-gradient(top, $accentColor, darken($accentColor, 15%));
	clear: both;
	display: inline-block;

	span
	{
		display: block;
		position: relative;
		padding: 0 0.5em;

		&:before,
		&:after
		{
			font-size: 2.05em;
			content: "";
			position: absolute;
			border-style: solid;
			border-color: darken($accentColor, 35%) transparent transparent transparent;
			top: -0.12em;
			background-color: white;
			-moz-background-clip: padding-box;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
			transform: rotate(180deg);
		}

		&:before
		{
			border-width: 0.125em 0 0 0.125em;
			right: 0.01em;
		}

		&:after
		{
			border-width: 0.125em 0.125em 0 0;
			left: 0.01em;
		}
	}

	&:after,
	&:before
	{
		font-size: $heading1Size;
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		top: -0.125em;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
		border: 0.3em solid darken($accentColor, 25%);
	}

	&:after
	{
		right: -0.415em;
		border-left-width: 0.25em;
		border-right-color: transparent;
	}

	&:before
	{
		left: -0.415em;
		border-right-width: 0.25em;
		border-left-color: transparent;
	}
}

img
{
	border-radius: 0.5em;
	border: 0 !important;
	box-shadow: 0 0 0.5em rgb(0, 0, 0);
}

img.round
{
	display: inline-block;
	margin: 0 auto;
	border: 0 !important;
	border-radius: 50%;
}

img.reduceBy50
{
	width: 50%;
	height: auto;
}

img.reduceBy25
{
	width: 75%;
	height: auto;
}

img.noRadius
{
	border-radius: 0;
}

img.desaturate
{
	-webkit-filter: grayscale(75%);
	-moz-filter: grayscale(75%);
	-ms-filter: grayscale(75%);
	-o-filter: grayscale(75%);
	filter: grayscale(75%);
}

ul li,
p
{
	font-size: 0.75em !important;
}

span.pageWord
{
	font-size: 1.25em;
	display: inline-block;
	position: relative;
	top: 0.25em;
}

span.layoutWord
{
	font-size: 1.25em;
	background-color: $mainColor;
	display: inline-block;
	color: $backgroundColor;
	padding: 0 0.25em;
	position: relative;
	top: 0.25em;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal .progress span
{
	background: $accentColor;
}

.slides section
{
	padding: 0 !important;
}

.slides section *:last-child
{
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

ul.centered
{
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.centered li
{
	text-align: center;
	margin: 0 0 0.375em 0;
}